body, html {
  text-align: center;
  color: white;
}

body {
  background-color: #333;
  /* font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
}

div.page {
  max-width: 100vw;
  text-align: center;
}

.hover-pinch-zoom-parent {
  height: 80vh;
  width: 40em;
}

img {
  height: 90vh;
}

div.hover-pinch-zoom div.description h1 {
  font-size: 40px;
  margin: 0px;
  margin-bottom: 10px;
}

div.hover-pinch-zoom div.description p {
  margin-bottom: 1em;
}

ul {
  margin: 0;
  padding: 0;
}

#img_div, .hover-pinch-zoom-imgp{
    background: url("mannq.png");
    width: fit-content;
    height: 37em;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
